.login {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);
  position: relative;
  flex-direction: row-reverse;
}
.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.left {
  flex: 5;
  position: relative;
  display: flex;
  flex-direction: column;
}
.left-inner {
  margin-left: 12vw;
}

.right {
  min-width: 600px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  //   mask-image: linear-gradient(217deg, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.9) 100.71%);
  background: rgba(255, 255, 255, 0.88);
  height: 100vh;
  box-shadow: -16px 16px 72px 0px rgba(0, 17, 51, 0.1);
  backdrop-filter: blur(12px);
}

.title {
  margin-bottom: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #013;
  font-size: 48px;
  font-family: Outfit;
  width: 440px;
}

.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.login-tab {
  :global {
    .arco-form {
      padding: 0 8px;
    }
  }
}
.email-label {
  color: var(--black-text-color);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 13px;
  padding: 0 8px;
  margin-top: 40px;
  &::after {
    content: '*';
    color: #0057ff;
  }
}
.login-form {
  :global {
    .arco-form-label-item > label {
      color: #013;
      font-size: 16px;
      font-family: Outfit;
      line-height: 24px;
      text-transform: capitalize;
      margin-left: 12px;
    }
    .arco-form-item {
      margin-bottom: 40px;
    }
    .arco-form-item.arco-form-item-error {
      margin-bottom: 0px;
    }
    .arco-input {
      border-radius: 32px;
      border: 1px solid #d7d7d9;
      height: 64px;
      line-height: 64px;
      padding: 0 24px;
      background-color: #e5e5e700;
    }
    .arco-input::placeholder {
      color: #979799;
      font-size: 16px;
      font-family: Outfit;
      line-height: 24px;
      text-transform: capitalize;
    }
    .arco-form-message {
      margin-left: 12px;
      color: #ff0055;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-family: Outfit;
      text-transform: capitalize;
    }
    .arco-form-item-status-error .arco-input:not(.arco-input-disabled),
    .arco-form-item-status-error .arco-input-inner-wrapper:not(.arco-input-inner-wrapper-disabled),
    .arco-form-item-status-error .arco-textarea:not(.arco-textarea-disabled) {
      background-color: #00000000;
    }
    .arco-form-item-status-error .arco-input:not(.arco-input-disabled),
    .arco-form-item-status-error .arco-input-inner-wrapper:not(.arco-input-inner-wrapper-disabled),
    .arco-form-item-status-error .arco-textarea:not(.arco-textarea-disabled) {
      border: 1px solid #ff0055;
    }
  }
}

.other-split {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.other-line {
  height: 1px;
  background: #d7d7d9;
  flex: 1;
}
.other-title {
  color: #979799;
  font-size: 16px;
  font-family: Outfit;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 16px;
}
.wallet-connect {
  width: 440px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 32px;
  border: 1px solid #d7d7d9;
  color: #001133;
  font-size: 20px;
  font-family: Outfit;
  text-transform: capitalize;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: inline-block;
    transform: translateY(5px);
  }
  &:hover {
    color: #0057ff;
  }
}
.lang-button {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 96px;
  cursor: pointer;
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.down-arrow {
  width: 12px;
  height: 7px;
  margin-left: 4px;
}
.back-home-button {
  color: #05f;
  font-size: 16px;
  font-family: Outfit;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
}
.login-header {
  display: flex;
  justify-content: flex-end;
  width: 440px;
}
.head-right {
  display: flex;
  align-items: center;
}
.right-inner {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-inner {
  height: 100vh;
}
.mask-title {
  width: 40vw;
  height: 20vh;
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
}
.star-title {
  color: #fffffff6;
  font-size: 120px;
  font-family: Outfit;
  font-weight: 900;
  line-height: 128px;
  text-transform: capitalize;
  margin-top: 56vh;
  margin-bottom: 36px;
}
.star-des {
  color: #fff;
  font-size: 24px;
  font-family: Outfit;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 16px;
  text-align: left;
}
.check-outer {
  transform: translateY(-24px);
  :global {
    .arco-checkbox-checked .arco-checkbox-mask {
      background-color: #0057ff;
      border: none;
    }
    .arco-checkbox-text {
      color: #000;
      font-size: 16px;
      font-family: Outfit;
      line-height: 24px;
      text-transform: capitalize;
    }
    .arco-checkbox-mask {
      width: 20px;
      height: 20px;
      line-height: 20px;
      border: 2px solid #013;
      border-radius: 4px;
    }
    .arco-checkbox-checked .arco-checkbox-mask-icon {
      transform: scale(1.6) translateY(2px);
    }
  }
}
