.menu-container {
  background-color: rgb(3, 31, 78);
  :global {
    .arco-menu-inner {
      padding: 4px 0;
    }
    .arco-menu-selected {
      a {
        color: rgb(134, 214, 22);
        svg {
          path {
            stroke: rgb(134, 214, 22);
          }
        }
      }
    }
    .arco-menu-inline-header {
      background-color: rgb(3, 31, 78);
      color: #ffffff !important;
    }
    .arco-menu-light .arco-menu-inline-header.arco-menu-selected {
      color: #ffffff;
    }
  }
}
:global {
  .arco-menu-light .arco-menu-inline-header.arco-menu-selected:hover {
    background-color: rgb(53 117 229 / 55%) !important;
  }
  .arco-menu-light .arco-menu-inline-header.arco-menu-selected .arco-icon {
    color: #ffffff;
  }
  .arco-menu-light .arco-menu-item,
  .arco-menu-light .arco-menu-group-title,
  .arco-menu-light .arco-menu-pop-header,
  .arco-menu-light .arco-menu-inline-header {
    background-color: rgb(53 117 229 / 55%);
  }
  .arco-menu-light .arco-menu-item:hover,
  .arco-menu-light .arco-menu-group-title:hover,
  .arco-menu-light .arco-menu-pop-header:hover,
  .arco-menu-light .arco-menu-inline-header:hover {
    background-color: rgb(53 117 229 / 55%);
  }
  .arco-menu a,
  .arco-menu a:hover {
    color: #ffffff;
  }
  .arco-menu-light .arco-menu-item:hover,
  .arco-menu-light .arco-menu-group-title:hover,
  .arco-menu-light .arco-menu-pop-header:hover,
  .arco-menu-light .arco-menu-inline-header:hover {
    background-color: rgba(5, 57, 146, 0.55) !important;
  }
  .arco-menu-inline-header {
    padding-left: 20px !important;
  }
}

.menu-item-container {
  color: #ffffff;
  background-color: rgb(3, 31, 78) !important;
  padding: 0 20px !important;

  a {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  :global {
    .arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-group-title.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-pop-header.arco-menu-selected .arco-icon,
    .arco-menu-light .arco-menu-inline-header.arco-menu-selected .arco-icon {
      color: #ffffff;
    }
    .arco-menu-light .arco-menu-item.arco-menu-selected,
    .arco-menu-light .arco-menu-group-title.arco-menu-selected,
    .arco-menu-light .arco-menu-pop-header.arco-menu-selected,
    .arco-menu-light .arco-menu-inline-header.arco-menu-selected {
      color: #0037a1;
    }
  }
}
.ReactSVG {
  margin-right: 20px;
  transform: translateY(4px);
  display: inline-block;
  svg {
    width: 22px;
    height: 22px;
  }
}
