.container {
  padding-top: 64px;
  height: 100%;
  width: 100%;
}
.search-area {
  margin-bottom: 12px;
}
.table-body {
  margin-top: 12px;
}
.list-item-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.modal-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.opreate-area {
  text-align: left;
  width: 600px;
  margin-top: 32px;
}
.red-alert {
  color: rgb(244, 56, 56);
  font-weight: 600;
  margin-bottom: 8px;
}
.verify-button {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin-top: 16px;
}
.reject-area {
  margin-top: 16px;
  width: 600px;
}
.status-columon {
  display: flex;
  align-items: center;
}
.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}
.green-dot {
  background-color: rgb(34, 228, 34);
}
.red-dot {
  background-color: rgb(231, 18, 61);
}
