.container {
  height: 960px;
  width: 100vw;
  background: #0055ff;
  position: relative;
}
.circle-item {
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 2px 2px;
  position: absolute;
}
