.container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.dataovervie-left {
  margin-right: 120px;
  .dataovervie-left-title {
    font-weight: 500;
    font-size: 20px;
    /* identical to box height, or 20px */

    letter-spacing: -0.02em;

    color: #2b3674;
    margin-bottom: 14px;
    margin-top: 0;
  }
  .dataovervie-left-content {
    display: flex;
    gap: 60px;
    .dataovervie-box1 {
      p {
        font-size: 14px;
        margin: 0;
        color: rgba(43, 54, 116, 0.57);
      }
      .dataovervie-box1-inner {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
        }
        p {
          font-size: 32px;
          padding-left: 8px;
        }
      }
    }
    .dataovervie-left-content-middle {
      height: 27px;
      border: 1px solid #a2a3a5;
      margin-top: 25px;
    }
  }
}

.dataovervie-right {
  padding-top: 10px;
  .dataovervie-right-content {
    display: flex;
    gap: 120px;
    p {
      font-size: 14px;
      color: #7d84ab;
      padding: 0;
      margin: 0;
    }
    .dataovervie-box2 {
      .dataovervie-box2-inner {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
        }
        p {
          font-weight: 600;
          font-size: 20px;
          line-height: 22px;
          color: #6b0edd;
        }
      }
    }

    .dataovervie-box3 {
    }
  }
  .dataovervie-right-content-middle {
    border-bottom: 1px solid #a2a3a5;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.chart-container {
  background: #e9ecf4;
  box-shadow: -3px -3px 5px #ffffff, 2px 4px 5px rgba(0, 0, 0, 0.14);
  border-radius: 11px;
}
