.container {
  video::-webkit-media-controls-timeline {
    display: none;
  }
  video::-webkit-media-controls-mute-button {
    display: none;
  }
}
.title {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-left: 14px;
}
.title-left {
  :global {
    .lazy-load-image-background {
      img {
        width: 23px;
        height: auto;
        transform: translateY(4px);
      }
    }
  }
}
.title-name {
  color: rgba(0, 0, 0, 0.48);
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.title-dynamic {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.content {
  position: relative;
  img {
    width: 223px;
    height: 398px;
  }
}
.content-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-video {
  background-image: url('src/assets/images/market/facebookVideo.png');
  width: 198px;
  height: 258px;
  transform: translateX(-2px);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  video {
    position: absolute;
    top: 50px;
  }
}

.tikTok-video {
  background-image: url('src/assets/images/market/TiktokVideo.png');
  width: 198px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 20;
  left: 0;
  video {
    position: absolute;
    top: 0;
    left: 0;
  }
}
