.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.title {
  color: #2b3674;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  span {
    color: #2d70f1;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.final-amount {
  font-size: 20px;
  color: #2b3674;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  text-align: right;
  padding-right: 64px;
  span {
    color: #2d70f1;
  }
}
.opreate-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 79px;
  padding: 0 8vw 52px;
  .cart-button {
    width: 400px;
    height: 60px;
    line-height: 60px;
  }
}
